#hierarchy-tree-section {
  padding: 50px 10px;
  overflow: auto;
  height: 100vh;
  background-color: #EEEEEE;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#hierarchy-tree-section > #selected {
  background-color: #E8F0FE;
}

#hierarchy-tree-section > #selected > .text-container {
  font-weight: 500;
  color: #4285F4;
}

#hierarchy-tree-section > .hierarchy-tree-list {
  overflow: hidden;
  max-height: 100%;
  -webkit-transition: max-height .2s ease;
  transition: max-height .2s ease;
  padding: 0;
}

#hierarchy-tree-section > .hierarchy-tree-list:first-child {
  padding: 0;
}

#hierarchy-tree-section > .hierarchy-tree-list.collapsed {
  max-height: 32;
}

#hierarchy-tree-section > .hierarchy-tree-list.collapsed .collapse-list-icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.top-layer-folder > .ul-header > .text-container {
  color: #000000 !important;
}

.top-layer-folder > .ul-header > .folder-icon {
  display: none !important;
}

.top-layer-folder .folder-icon {
  display: none;
}

#selected-folder {
  background-color: #617eff;
  color: white;
}

.hierarchy-tree-list {
  margin: 0;
  color: #424242;
  font-size: .95em;
  overflow: hidden;
  max-height: calc(100%);
  -webkit-transition: max-height .3s ease;
  transition: max-height .3s ease;
}

.hierarchy-tree-list.collapsable {
  margin-bottom: 2%;
}

.hierarchy-tree-list.collapsed {
  max-height: 35;
}

.hierarchy-tree-list.collapsed .collapse-list-icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hierarchy-tree-list > .ul-header {
  width: 100%;
  height: 32px;
  position: relative;
  list-style: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #707070;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #D9DFE2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hierarchy-tree-list > .ul-header > .folder-icon {
  display: block;
  position: absolute;
  left: -32px;
  width: 24px;
  height: 24px;
  background-image: url("../../src/folder-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  pointer-events: none;
}

.hierarchy-tree-list > .ul-header > .collapse-list-icon {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  margin: 0 0px 0 5px;
  width: 24px;
  height: 24px;
  background-image: url("../../src/collapse-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  pointer-events: none;
}

.hierarchy-tree-list > .ul-header > .material-icons {
  cursor: pointer;
}

.hierarchy-tree-list > .ul-header > .text-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  font-size: 14px;
}

#current-items-section {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#current-items-section .grid-splitter {
  width: 100%;
  margin: 50px 0 -10px 0;
  padding: 0 0 0 18px;
  color: #383838;
  font-size: 16px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#current-items-section .grid-splitter:first-child {
  margin-top: 20px;
}

#current-items-section .list-splitter {
  width: 100%;
  margin: 30px 0 0 0;
  padding: 0 0 0 10px;
  color: #383838;
  font-size: 16px;
  font-weight: 400;
}

#current-items-section .list-splitter:first-child {
  background-color: REd;
}

#current-items-section > .placeholder {
  position: absolute;
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  color: #8f8f8f;
  font-size: .9em;
  pointer-events: none;
}

#current-items-section > .grid-view {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
  background-color: #D5D5D5;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 200px !important;
}

#current-items-section > .grid-view.hidden {
  display: none;
}

#current-items-section > .list-view {
  width: 100%;
  height: calc(100% - 45px);
  margin: 0;
  padding: 2em 1em;
  overflow-y: auto;
  background-color: #D5D5D5;
}

#current-items-section > .list-view.hidden {
  display: none;
}

#current-items-section > .list-view > .current-items-list-item {
  list-style: none;
  width: calc(100% - 40px - 1.2em);
  height: 42px;
  margin: 0 0 0 40px;
  padding: 0 .6em;
  border-bottom: 1px solid #a5a5a5;
  text-align: center;
  overflow: visible;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  pointer-events: all;
}

#current-items-section > .list-view > .current-items-list-item.selected {
  background-color: #E8F0FE;
}

#current-items-section > .list-view > .current-items-list-item.selected > .file-name {
  font-weight: 500;
  color: #4285F4;
}

#current-items-section > .list-view > .current-items-list-item:last-child {
  margin-bottom: 50px;
}

#current-items-section > .list-view > .current-items-list-item > .select-checkbox {
  position: absolute;
  left: -42.9px;
  cursor: pointer;
  color: #424242;
}

#current-items-section > .list-view > .current-items-list-item > .select-checkbox.selected {
  color: #4D8CF5;
}

#current-items-section > .list-view > .current-items-list-item > .file-icon {
  color: #424242;
  pointer-events: none;
}

#current-items-section > .list-view > .current-items-list-item > .file-name {
  width: 250px;
  text-align: left;
  color: #424242;
  pointer-events: none;
}

#current-items-section > .list-view > .current-items-list-item > .colorize-file-icon {
  color: #424242;
  font-size: 1.2em;
}

#current-items-section > .list-view > .current-items-list-item > * {
  margin-right: .7em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#current-items-section .select-all-icon {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../../src/select-all-icon.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: auto;
  margin-right: 8px;
}

#current-items-section .select-all-icon.selected {
  background-image: url("../../src/select-all-icon-selected.svg") !important;
}

#current-items-section .change-view-icon {
  width: 27px;
  height: 27px;
  background-size: 53%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#current-items-section .change-view-icon[current-view="grid"] {
  background-image: url("../../src/grid.svg");
}

#current-items-section .change-view-icon[current-view="list"] {
  background-image: url("../../src/list.svg");
}

#current-items-section .material-icons {
  cursor: pointer;
}

.sort-by-bar {
  list-style: none;
  margin: 0 0 0 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 8px;
  height: 30px;
  padding: 0 .6em;
  width: calc(100% - 40px);
  border-bottom: 1px solid #a5a5a5;
  z-index: 100;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.sort-by-bar > .sort-name {
  display: block;
  width: 295px;
}

.sort-by-bar > .sort-type {
  display: block;
  width: 265px;
}

.current-items-grid-item {
  margin: 20px 15px;
  width: 64px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-color: #EEEEEE;
  color: #8a8a8a;
  border: 1px solid #B4B4B4;
  background-size: 80%;
  background-position: center center;
  overflow: visible;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border .1s ease, background-size .1s ease, -webkit-box-shadow .1s ease;
  transition: border .1s ease, background-size .1s ease, -webkit-box-shadow .1s ease;
  transition: border .1s ease, box-shadow .1s ease, background-size .1s ease;
  transition: border .1s ease, box-shadow .1s ease, background-size .1s ease, -webkit-box-shadow .1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.current-items-grid-item.selected {
  border: 1px solid #617eff;
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.267);
          box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.267);
}

.current-items-grid-item.selected > .checkbox {
  top: -8px;
  left: -8px;
}

.current-items-grid-item:hover > .checkbox {
  display: block;
}

.current-items-grid-item > .checkbox {
  position: absolute;
  top: -7px;
  left: -7px;
  font-size: 1.3em;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  color: #424242;
  margin: -5px;
  padding: 5px;
}

.current-items-grid-item > .checkbox.selected {
  display: block;
  color: #4D8CF5;
}

.current-items-grid-item:before {
  content: "";
  padding-top: 100%;
}

.current-items-grid-item > .text-container {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  width: 100%;
  line-height: 20px;
  top: 108%;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#selected-file {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #617eff;
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.267);
          box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.267);
}

#selected-item-info-section {
  padding: 95px 20px;
  background-color: #EEEEEE;
  overflow: hidden;
  position: relative;
  max-width: 220px !important;
}

#selected-item-info-section > .image-placeholder {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F1F3F4;
  border: 1px solid #B4B4B4;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center center;
}

#selected-item-info-section > .image-placeholder:before {
  content: "";
  padding-top: 100%;
}

#selected-item-info-section > .image-placeholder > .image-placeholder-icon {
  position: absolute;
  font-size: 1.4em;
  color: #8a8a8a;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#selected-item-info-section > .image-placeholder > .file-type-placeholder {
  color: #8a8a8a;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.4em;
}

#selected-item-info-section > .selected-item-name {
  margin: 0 0 .8em 3px;
  padding: 0;
  font-weight: 400;
  color: #707070;
  font-size: 16px;
  width: 100%;
  max-width: calc(100% + 0px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#selected-item-info-section > .selected-item-info {
  width: 100%;
  height: 100%;
  color: #707070;
}

#selected-item-info-section > .selected-item-info > p {
  margin: .5em 0 0 3px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  font-size: 1em;
}

#selected-item-info-section > .selected-item-info > p:first-child {
  margin-top: 1.2em;
}

#selected-item-info-section > .selected-item-info > p > span {
  font-size: .9em;
}

.selected-item-colorize {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 7px;
  margin-left: 3px;
}

.colorize-button {
  width: 38px;
  height: 18px;
  border-radius: 11px;
  background-color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 2px;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.colorize-button > .state {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  margin-right: 2px;
  -webkit-transition: margin .2s ease;
  transition: margin .2s ease;
  pointer-events: none;
}

.colorize-button.checked {
  background-color: #0063CE;
}

.colorize-button.checked > .state {
  margin-right: 22px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 9fr 2fr;
      grid-template-columns: 2fr 9fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "hierarchy-tree-section current-items-section selected-item-info-section";
}

.section-header {
  width: 100%;
  height: 40px;
  min-height: 40px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding-right: 7px;
  margin: 0;
}

#hierarchy-tree-section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hierarchy-tree-section;
  position: relative;
}

#current-items-section {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: current-items-section;
}

#selected-item-info-section {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: selected-item-info-section;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=global.css.map */