#hierarchy-tree-section {
    grid-area: hierarchy-tree-section;
    border-right: 1px solid #DEDEDE;
    padding: 8% 5%;
    overflow: auto;
    height: 100vh;

    &>.hierarchy-tree-list {
        overflow: hidden;
        max-height: 100%;
        transition: max-height .2s ease;
        padding: 0;

        &:first-child {
            padding: 0;
        }

        &.collapsed {
            max-height: 32;

            & .collapse-list-icon {
                transform: rotate(-90deg);
            }
        }
    }
}

#selected-folder {
    background-color: rgb(97, 126, 255);
    color: white;
}

.hierarchy-tree-list {
    margin: 0;
    color: rgb(66, 66, 66);
    font-size: .95em;

    &>.ul-header {
        position: relative;
        list-style: none;
        border-radius: 15px;
        height: 32px;
        margin-bottom: 5%;
        cursor: pointer;
        width: calc(100%);
        user-select: none;
        // padding-right: 40px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        &>.folder-icon {
            margin: 0 10px;
            font-size: 1.6em;
            pointer-events: none;
        }

        &>.collapse-list-icon {
            margin: 0 -7px 0 5px;
        }

        &>.material-icons {
            cursor: pointer;
        }

        &>.text-container {
            width: 50%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            pointer-events: none;
        }

        &:hover {
            background-color: rgb(226, 226, 226);

            &>.ellipsis-icon {
                opacity: 1;
            }
        }

        &>.ellipsis-icon {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            background-image: url('../../src/ellipsis-v.png');
            background-size: 15px;
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0;
            pointer-events: none;
        }
    }
}