.image {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    background-color: white;
    transition: background-color .2s ease;

    &.selected {
        background-color: #CEEEFF !important;
    }
}

.l1 {
    background-image: url('../../images/1.png');
}

.l2 {
    background-image: url('../../images/2.png')
}

.l3 {
    background-image: url('../../images/3.png')
}

.l4 {
    background-image: url('../../images/4.png')
}

.l5 {
    background-image: url('../../images/5.png')
}

.l6 {
    background-image: url('../../images/6.png')
}

.l7 {
    background-image: url('../../images/7.png')
}

.l8 {
    background-image: url('../../images/8.png')
}

.l9 {
    background-image: url('../../images/9.png')
}

.l10 {
    background-image: url('../../images/10.png')
}

.l11 {
    background-image: url('../../images/11.png')
}

.l12 {
    background-image: url('../../images/12.png')
}

.l13 {
    background-image: url('../../images/13.png')
}

.l14 {
    background-image: url('../../images/14.png')
}

.l15 {
    background-image: url('../../images/15.png')
}

.l16 {
    background-image: url('../../images/16.png')
}

.l17 {
    background-image: url('../../images/17.png')
}

.l18 {
    background-image: url('../../images/18.png')
}

.l19 {
    background-image: url('../../images/19.png')
}

.l20 {
    background-image: url('../../images/20.png')
}

.l21 {
    background-image: url('../../images/21.png')
}

.l22 {
    background-image: url('../../images/23.png')
}

.l23 {
    background-image: url('../../images/24.png')
}

.l24 {
    background-image: url('../../images/24.png')
}

.l25 {
    background-image: url('../../images/25.png')
}

.l26 {
    background-image: url('../../images/26.png')
}

.l27 {
    background-image: url('../../images/27.png')
}

.l28 {
    background-image: url('../../images/28.png')
}

.l29 {
    background-image: url('../../images/29.png')
}

.l30 {
    background-image: url('../../images/30.png')
}

.l31 {
    background-image: url('../../images/31.png')
}

.l32 {
    background-image: url('../../images/32.png')
}

.l33 {
    background-image: url('../../images/33.png')
}

.l34 {
    background-image: url('../../images/34.png')
}

.l35 {
    background-image: url('../../images/35.png')
}

.l36 {
    background-image: url('../../images/36.png')
}

.l37 {
    background-image: url('../../images/37.png')
}

.l38 {
    background-image: url('../../images/38.png')
}

.l39 {
    background-image: url('../../images/39.png')
}

.l40 {
    background-image: url('../../images/40.png')
}

.l41 {
    background-image: url('../../images/41.png')
}

.l42 {
    background-image: url('../../images/42.png')
}

.l43 {
    background-image: url('../../images/43.png')
}

.l44 {
    background-image: url('../../images/44.png')
}

.l45 {
    background-image: url('../../images/45.png')
}

.l46 {
    background-image: url('../../images/46.png')
}

.l47 {
    background-image: url('../../images/47.png')
}

.l48 {
    background-image: url('../../images/48.png')
}

.l49 {
    background-image: url('../../images/49.png')
}

.l50 {
    background-image: url('../../images/50.png')
}

.l51 {
    background-image: url('../../images/51.png')
}

.l52 {
    background-image: url('../../images/52.png')
}

.l53 {
    background-image: url('../../images/53.png')
}

.l54 {
    background-image: url('../../images/54.png')
}

.l55 {
    background-image: url('../../images/55.png')
}

.l56 {
    background-image: url('../../images/56.png')
}

.l57 {
    background-image: url('../../images/57.png')
}

.l58 {
    background-image: url('../../images/58.png')
}

.l59 {
    background-image: url('../../images/59.png')
}