.image {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &.l1 {
        background-image: url('../../images/1.png');
    }

    &.l2 {
        background-image: url('../../images/2.png')
    }

    &.l3 {
        background-image: url('../../images/3.png')
    }

    &.l4 {
        background-image: url('../../images/4.png')
    }

    &.l5 {
        background-image: url('../../images/5.png')
    }

    &.l6 {
        background-image: url('../../images/6.png')
    }

    &.l7 {
        background-image: url('../../images/7.png')
    }

    &.l8 {
        background-image: url('../../images/8.png')
    }

    &.l9 {
        background-image: url('../../images/9.png')
    }

    &.l10 {
        background-image: url('../../images/10.png')
    }

    &.l11 {
        background-image: url('../../images/11.png')
    }

    &.l12 {
        background-image: url('../../images/12.png')
    }

    &.l13 {
        background-image: url('../../images/13.png')
    }

    &.l14 {
        background-image: url('../../images/14.png')
    }

    &.l15 {
        background-image: url('../../images/15.png')
    }

    &.l16 {
        background-image: url('../../images/16.png')
    }

    &.l17 {
        background-image: url('../../images/17.png')
    }

    &.l18 {
        background-image: url('../../images/18.png')
    }

    &.l19 {
        background-image: url('../../images/19.png')
    }

    &.l20 {
        background-image: url('../../images/20.png')
    }

    &.l21 {
        background-image: url('../../images/21.png')
    }

    &.l22 {
        background-image: url('../../images/23.png')
    }

    &.l23 {
        background-image: url('../../images/24.png')
    }

    &.l24 {
        background-image: url('../../images/24.png')
    }

    &.l25 {
        background-image: url('../../images/25.png')
    }

    &.l26 {
        background-image: url('../../images/26.png')
    }

    &.l27 {
        background-image: url('../../images/27.png')
    }

    &.l28 {
        background-image: url('../../images/28.png')
    }

    &.l29 {
        background-image: url('../../images/29.png')
    }

    &.l30 {
        background-image: url('../../images/30.png')
    }
}