.icon-commonui_Toolbar_Color_Publish_32 {
    background-position: 0 -4316px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.icon-commonui_icon_help {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -1601px;
}

.icon-commonui_icon_back {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -1781px;
}

.icon-commonui_Toolbar_Color_Activate {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 0 -755px;
}

.icon-commonui_Toolbar_Color_GithubCommit_32 {
    background-position: 0 -5660px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.icon-commonui_Toolbar_Color_Save_32 {
    background-position: 0 -4828px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.icon-commonui_Toolbar_Color_AddExistingStandard_32 {
    background-position: 0 -6748px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.icon-commonui_Toolbar_Color_IFrame_define_32 {
    background-position: 0 -6652px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.icon-commonui_Toolbar_Color_UpArrow {
    background-position: 0 -1443px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-commonui_Toolbar_Color_DownArrow {
    background-position: 0 -483px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-commonui_Toolbar_Color_Properties {
    background-position: 0 -979px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-commonui_Toolbar_Color_Rename {
    background-position: 0 -1107px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-commonui_Toolbar_Invisible {
    width: 16px;
    height: 16px;
    background-image: none !important;
}

.icon-commonui_Toolbar_Color_Delete {
    background-position: 0 -371px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-commonui_Toolbar_Color_CreateNew_16 {
    background-position: 0 -291px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-commonui_Toolbar_Color_OpenExisting_16 {
    background-position: 0 -931px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-commonui_Toolbar_Color_Edit {
    background-position: 0 -531px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-woodford_Search_24 {
    background-image: url('../../src/woodfordsprite.png') !important;
    background-position: -1px -1955px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-woodford_Device_24 {
    background-image: url('../../src/woodfordsprite.png') !important;
    background-position: -1px -1787px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-woodford_Favorite_Active_24 {
    background-image: url('../../src/woodfordsprite.png') !important;
    background-position: -1px -1811px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-woodford_Expand_24 {
    background-image: url('../../src/woodfordsprite.png') !important;
    background-position: -1px -2219px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-woodford_Home_24 {
    background-image: url('../../src/woodfordsprite.png') !important;
    background-position: 0 -2195px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 11px;
}

.icon-woodford_IsFavorite {
    background-image: url('../../src/woodfordsprite.png') !important;
    background-position: 0 -2555px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 2px;
    margin-left: auto;
}

.icon-woodford_Theme_24 {
    background-image: url('../../src/woodfordsprite.png') !important;
    background-position: 0 -1835px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 11px;
}

.icon-woodford_Images_24 {
    background-image: url('../../src/woodfordsprite.png') !important;
    background-position: 0 -2387px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 11px;
}

.icon-commonui_Toolbar_Color_HomeCustom_32 {
    background-image: url('../../src/commonuisprite_.png') !important;
    background-position: 0 -4732px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.icon-commonui_Toolbar_Color_IconPack_32 {
    background-image: url('../../src/commonuisprite_.png') !important;
    background-position: 0 -4860px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.icon-commonui_Toolbar_Color_defineColors_32 {
    background-image: url('../../src/commonuisprite_.png') !important;
    background-position: 0 -8444px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.icon-commonui_Toolbar_Color_Import_32 {
    background-image: url('../../src/commonuisprite_.png') !important;
    background-position: 0 -5084px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.icon-commonui_Toolbar_Color_Export_32 {
    background-image: url('../../src/commonuisprite_.png') !important;
    background-position: 0 -4060px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.icon-commonui_Toolbar_Color_AddImage_32 {
    background-image: url('../../src/commonuisprite_.png') !important;
    background-position: 0 -4572px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}