.left-panel {
    min-width: 300px;
    width: 300px;
    height: 100%;
    border-right: 1px solid #d6d6d6;
    background-color: #EEE;

    display: flex;
    flex-direction: column;

    &>.navigation-list {
        border-bottom: 1px solid #d6d6d6;
        padding: 8px 10px 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 40px !important;
        box-sizing: border-box;

        &>.navigation-button {
            cursor: pointer;
            width: 24px;
            height: 24px;
            color: #707070;
            margin: 0 3px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: flex;
            align-items: center;
            box-sizing: border-box;

            &:hover {
                background-color: #ffe8a2;
            }

            &:first-child {
                margin-right: auto;
            }

            &:last-child {
                margin-left: auto;
            }

            &.active {
                background-color: #0063ce;
            }
        }
    }

    &>.items-container {
        width: 100%;
        height: 100%;
        // background-color: red;
        padding-top: 8px;

        &>.search-title {
            padding: 8px 7px 8px 14px;
            border-bottom: 1px solid #e2e2e2;
            font-size: 14px;
            color: #707070;
            font-weight: 500;
            cursor: pointer;
            min-height: 28px;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 5px;

            &:hover {
                background-color: #ffe8a2;
            }
        }

        &>.list-item {
            cursor: pointer;
            min-height: 28px;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 8px 7px 8px 14px;
            margin: 0 5px;
            font-size: 14px;
            color: #707070;
            font-weight: 500;
            position: relative;

            &.selected {
                background-color: #fff !important;
                border-left: 7px solid #0063ce;
                border-radius: 5px 3px 3px 5px;
                padding-left: 7px;

                &>hr {
                    display: none;
                }
            }

            &:hover {
                background-color: #ffe8a2;
            }

            &>hr {
                position: absolute;
                bottom: -8px;
                right: 0;
                height: 1.5px;
                background-color: #e2e2e2;
                width: 83%;
                border: none;
            }
        }
    }
}